*{
    margin: 0;
}

nav{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div{
    width: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav div span{
    width: 100%;
    height: 8px;
    background-color: limegreen;
    border-radius: 10px;
}

section{
    width: 100%;
    height: 90vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    transform: translateX(-105%);
    transition: 0.4s;
}

section a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 16pt;
    color: magenta;
    font-weight: bolder;
}